name: Linters
on: [push]
jobs:
  markdown-lint:
    name: Markdown lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run linter
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'
